
.swiper {
  width: 100%;
  height: 100%;
  .swiper-pagination-bullet{
    border: white 1px solid;
    opacity: 1;
    background: transparent;
    box-sizing: content-box;
    &.swiper-pagination-bullet-active{
      background-color: white;
    }

  } 
  .swiper-pagination{
    bottom: 43px;
    text-align: end;
    padding-right: 57px;
  }
  .caption{
    position: absolute;
    background-color: red;
    height: 200px;
    bottom: -22px;
    width: 100%;
    padding: 55px;
    display: flex;
    align-items: flex-end;
    font-size: 17px;
    color: white;
    line-height: 48px;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 87%);
  }
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
