VITE_GRAPHQL=https://dashboard-dev.postpay.io/graphql/customers
VITE_RETAILER_API_URL=https://api-dev.postpay.io/graphql
VITE_STORE_URL=https://stores-dev.postpay.io
VITE_WS_SUBSCRIPTIONS=0
VITE_LOCAL_STORAGE_KEY=postpay-dashboard
VITE_TOKENIZATION_URL=https://tokenization-dev.postpay.io/v1
VITE_SUPPORT_API_URL=https://support-dev.postpay.io
VITE_SENTRY_DNS=
HOST=0.0.0.0
PORT=4000